@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,800;1,400&display=swap');

body {
  background: $background;
  font-family: 'Nunito', sans-serif;
}

@mixin header($size, $weight) {
  font-style: normal;
  font-weight: $weight;
  font-size: $size;

  color: $color-black;
  place-self: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

h1 {
  @include header(36px, $weight-3);
}

h2 {
  @include header(24px, $weight-3);
}

h3 {
  @include header(18px, $weight-3);
}

h4 {
  @include header(16px, $weight-4);
}

a {
  font-style: italic;
  font-weight: $weight-2;
  font-size: 16px;

  color: $color-blue;
  text-decoration: underline;

  cursor: pointer;
}

a:hover {
  color: $color-dark-blue;
}
