@import "./variables.scss";

body {
  background: $background;
}

@mixin header($size, $weight) {
  font-style: normal;
  font-weight: $weight;
  font-size: $size;

  color: $color-black;
  place-self: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

h1 {
  @include header(36px, 600);
}

h2 {
  @include header(24px, 500);
}

h3 {
  @include header(18px, 600);
}

h4 {
  @include header(16px, 700);
}

a {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;

  color: $color-blue;
  text-decoration: underline;

  cursor: pointer;
}

a:hover {
  color: $color-dark-blue;
}
