$color-black: #333333;
$color-blue: #5c87c4;
$color-dark-blue: #446e9b;
$color-gray: #cccccc;
$color-light-gray: #f9f9f9;
$color-white: #ffffff;
$color-yellow: #ffb42b;
$color-light-green: #69b626;
$color-green: #00912e;
$color-red: #f56a6f;
$background: #ecfcfc;

$fs-1: 48px;
$fs-2: 36px;
$fs-3: 24px;
$fs-4: 16px;
$fs-5: 14px;
$fs-6: 10px;

$r-1: 3px;
$r-2: 6px;
$r-3: 12px;
$r-4: 18px;
